/* Genel Stiller */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

h2 {
    
        font-size: 24px;
        color: #333; /* Metin rengi */
        background-color: #f0f0f0; /* Arka plan rengi */
        padding: 10px 20px; /* İç boşluk */
        border-radius: 5px; /* Kenar yuvarlatma */
        margin: 20px 0; /* Üst ve alt boşluk */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Gölge */
        border-bottom: 2px solid #333; 
    
}


/* Navigation Bar */
nav {
    display: flex;
    justify-content: center;
    background-color: #EAA130;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1em;
    transition: color 0.3s;
}

nav a:hover {
    text-decoration: underline;
    color: #31EB6E; /* Hover rengi */
}

/* Hamburger menu button */
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: background-color 0.3s; /* Animasyonlu geçiş */
}

.menu-icon:hover div {
    background-color: #ff7f0e; /* Hamburger menü simgesine hover edildiğinde rengi */
}

/* Media queries for mobile */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    nav a {
        display: none;
        margin: 10px 0;
    }

    .menu-icon {
        display: flex;
    }

    .menu-icon.active + a {
        display: block;
    }

    .menu-icon.active + a + a {
        display: block;
    }

    .menu-icon.active + a + a + a {
        display: block;
    }

    .menu-icon.active + a + a + a + a {
        display: block;
    }

    .menu-icon.active + a + a + a + a + a {
        display: block;
    }
}

/* Container */
.container {
    max-width: 800px;
    margin: 0 auto;
}

.pageLayout{
    margin-top: 30%;
    margin-bottom: 30%;
}

.pageLayout h2{
    text-align: center;
}

.about {
    
    background: #f0f0f0;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    transition: background 0.3s, transform 0.3s;
}

.about:hover {
    background: #c0c0c0;
    transform: scale(1.02);
}

.about p{
    text-indent: 20px;
}

/* Home Page */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home .text {
    margin-right: 7%;
    text-align: left;
}
.home .image img {
    height: 200px;
    width: 200px;
    border-radius: 50%; /* Yuvarlatılmış köşeler */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Hafif gölge */
    transition: transform 0.3s ease; /* Dönüşüm animasyonu */
}

.home .image img:hover {
    transform: scale(1.1); /* Fare üzerine gelince büyütme */
}

    /* Eğitim Bilgileri */
.education {
    margin-top: 50px;
    text-align: center; /* Eğitim bilgilerini sayfanın ortasına hizala */
}

.education h2 {
    margin-bottom: 20px;
}

/* Okul Bilgisi */
.school {
    display: flex;
    justify-content: center; /* Okul bilgilerini yatayda ortala */
    margin-top: 30px;
}

.school .logo {
    flex: 0 0 100px; /* Sabit genişlik */
    margin-right: 20px;
}

.school .details {
    flex: 1; /* Esnek genişlik */
}

.school h3 {
    margin-top: 0;
    font-size: 1.5em; /* Okul adını daha büyük yap */
}

.school p {
    margin: 5px 0;
}

.school p strong {
    font-weight: bold; /* Fakülte ve bölüm bilgilerini kalın yap */
}

/* Logo */
.logo img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

.listCss{
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

.listCss h4{
    margin-bottom: 10px;
}

.listCss ul{
    list-style-type: none;
    padding-left: 0;
}

.listCss li{
    background: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
    display: inline-block;

}

.listCss li:hover{
    background: #c0c0c0;
    transform: scale(1.05);
}




/* Footer */
.footer {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px 0;
}
